@import "./utils/variables.scss";
// *********************************************************
// ----- buttons
// *********************************************************

// *********************************************************
// ----- cards
// *********************************************************
.fcc-projects__card {
	display: flex;
	flex-direction: column;

	& .card-content {
		background: $charcoal;
		color: $white;
		flex: 1;
		padding: 1rem;
	}
	.fcc-project__links {
		.project-link {
			color: $black;
			display: inline-block;
			padding: 0.25rem;
			text-align: center;
			vertical-align: middle;

			&.github,
			&.live {
				width: 50%;
			}
			&.github,
			&.github--full {
				background: $white;
			}
			&.live {
				background: #0f0;
			}
			&.github--full {
				width: 100%;
			}
			& > span {
				display: inline-block;
				margin-left: 5px;
				vertical-align: middle;
			}
		}
	}
}
.fcc-projects {
	align-items: stretch;
	display: grid;
	gap: 1.5rem;
	grid-template-columns: repeat(auto-fit, (minmax(275px, 1fr)));
	justify-items: stretch;
}
// *********************************************************
// ----- footer
// *********************************************************
.footer {
	color: $grey;
	text-align: center;
	padding: $sm 0;
}
// *********************************************************
// ----- header
// *********************************************************
.header {
	align-items: center;
	color: $grey;
	display: flex;
	justify-content: space-between;
	padding: 1rem;

	.nav__ul {
		align-items: center;
		display: flex;

		.nav__a {
			display: inline-block;
			padding: 0 0.75rem;
			text-align: center;

			&:hover {
				color: $white;
			}
		}
	}
}
// *********************************************************
// ----- images
// *********************************************************
.ec-logo {
	display: inline-block;
}
.post-img {
	box-shadow: 0 2px 8px -3px #888;
	border-radius: 10px;
	display: block;
	height: auto;
	margin: 0 auto;
	max-width: 700px;
	width: 45vw;
}
