@import "./utils/variables.scss";
// *********************************************************
// ----- buttons
// *********************************************************

// *********************************************************
// ----- cards
// *********************************************************
.fcc-projects__card {
	display: flex;
	flex-direction: column;

	& .card-content {
		background: $charcoal;
		color: $white;
		flex: 1;
		padding: 1rem;
	}
	.fcc-project__links {
		.project-link {
			color: $black;
			display: inline-block;
			padding: 0.25rem;
			text-align: center;
			vertical-align: middle;

			&.github,
			&.live {
				width: 50%;
			}
			&.github,
			&.github--full {
				background: $white;
			}
			&.live {
				background: #0f0;
			}
			&.github--full {
				width: 100%;
			}
			& > span {
				display: inline-block;
				margin-left: 5px;
				vertical-align: middle;
			}
		}
	}
}
.fcc-projects {
	align-items: stretch;
	display: grid;
	gap: 1.5rem;
	grid-template-columns: repeat(auto-fit, (minmax(275px, 1fr)));
	justify-items: stretch;
}
// *********************************************************
// ----- footer
// *********************************************************
.footer {
	text-align: center;
	padding: $sm 0;
}
// *********************************************************
// ----- header
// *********************************************************
.header {
	align-items: center;
	display: flex;
	justify-content: space-between;
	padding: 1rem;

	.page-branding {
		align-items: center;
		display: flex;

		.site-title {
			display: inline-block;
		}
	}

	&__nav {
		align-items: center;
		display: flex;
	}
}
// *********************************************************
// ----- images
// *********************************************************
.ec-logo {
	display: inline-block;
}
.post-img {
	box-shadow: 0 2px 8px -3px #888;
	border-radius: 10px;
	display: block;
	height: auto;
	margin: 0 auto;
	max-width: 700px;
	width: 45vw;
}
// *********************************************************
// ----- links
// *********************************************************
.nav-link {
	// border: 2px solid $yellow;
	color: inherit;
	font-size: 5vmin;
	margin: 0.5rem 0.75rem;
	padding: 0 0.75rem;
	text-align: center;
	// width: 24vmax;

	&:hover {
		// background-color: $yellow;
		// color: $black;
	}
}
// *********************************************************
// ----- navigation
// *********************************************************
.main-nav-ul,
.social-nav,
.social-nav-ul {
	display: flex;
}
