$eph-blue: #223deb;
$eph-red: #eb222f;
$eph-yellow: #ebe422;
$eph-black: #2f2f2f;
$eph-white: #e8e8e8;

#MetaContainer,
main {
	min-height: 100vh;
}
// #region LINKS
.site-nav-btn {
	border: 2px solid $eph-yellow;
	color: inherit;
	font-size: 5vmin;
	margin: 0.5rem 0.75rem;
	padding: 0 0.75rem;
	text-align: center;
	// width: 24vmax;

	&:hover {
		background-color: $eph-yellow;
		color: $eph-black;
	}
}
.external-link {
	color: inherit;

	&:hover {
		color: $eph-blue;
	}
}
h3 {
	color: $eph-blue;
	font-weight: bolder;
	// blog post title link
	& .nav-link {
		color: $eph-red;

		&:hover {
			color: darken($eph-red, 20%);
		}
	}
}
// #endregion
h1 {
	color: $eph-red;
}
.post-img {
	box-shadow: 0 2px 8px -3px #888;
	border-radius: 10px;
	display: block;
	height: auto;
	margin: 0 auto;
	max-width: 700px;
	width: 45vw;
}
.separator {
	background: $eph-white;
	height: 5px;
	margin: 3rem auto;
	width: 30vw;
}
figcaption {
	font-size: 1.3vmin;
}
