@import "./variables.scss";

.page {
	background: $black;
	color: $white;
	display: flex;
	flex-direction: column;
	font-family: $font_primary, Arial, Helvetica, sans-serif;
	// font-family: $font_secondary, Arial, Helvetica, sans-serif;
	min-height: 100vh;

	& .content {
		flex: 1;
		margin: 0 auto;
		max-width: 980px;
		width: 90vw;
	}
	&-intro {
		text-align: center;
	}
}
// *********************************************************
// ----- PAGES
// *********************************************************
.tools-page {
	.tools-list {
		margin: 0 auto;
		max-width: 500px;
		.tools-li {
			margin-bottom: $sm;
		}
	}
}
