.site-nav-btn {
	// border: 2px solid $yellow;
	color: inherit;
	font-size: 5vmin;
	margin: 0.5rem 0.75rem;
	padding: 0 0.75rem;
	text-align: center;
	// width: 24vmax;

	&:hover {
		// background-color: $yellow;
		// color: $black;
	}
}
