.fcc-projects__card {
	box-shadow: 0 1px 1px rgba(255, 255, 255, 0.11),
		0 2px 2px rgba(255, 0, 0, 0.11), 0 4px 4px rgba(255, 0, 0, 0.11),
		0 8px 8px rgba(255, 0, 0, 0.11), 0 16px 16px rgba(255, 0, 0, 0.11),
		0 32px 32px rgba(255, 0, 0, 0.11);
	display: flex;
	flex-direction: column;

	h2 {
		font-size: calc(0.7rem + 2vmin);
	}
	h3 {
		font-size: calc(0.3rem + 1vmin);
	}

	& .card-content {
		background: $black;
		flex: 1;
		padding: 1rem;
	}
	.fcc-project__links {
		.project-link {
			display: inline-block;
			padding: 0.25rem;
			text-align: center;
			vertical-align: middle;
			&.github,
			&.github--full,
			&.live {
				color: $black;
			}
			&.github,
			&.live {
				width: 50%;
			}
			&.github,
			&.github--full {
				background: $white;
			}
			&.live {
				background: #0f0;
			}
			&.github--full {
				width: 100%;
			}
			& > span {
				display: inline-block;
				margin-left: 5px;
				vertical-align: middle;
			}
		}
	}
}
