// *********************************************************
// ----- color
// *********************************************************
$yellow: #ffe600;
$orange: #f60;
$green: #0f9;
$blue: #06f;
$red: #f03;
$white: #eee;
$grey: #777;
$charcoal: #333;
$black: #222;
// *********************************************************
// ----- sizing
// *********************************************************
$xs: 0.75rem;
$sm: 1rem;
$md: 2rem;
$lg: 3rem;
$xl: 4rem;
