@use './configs.scss';
@use './resets.scss';
@use './style_components.scss';
@use './utilities.scss';

// #region --- SHARED
.row-center {
	@extend %container;
	display: flex;
	justify-content: center;
	margin-bottom: 2rem;
}
.row-end {
	@extend %container;
	display: flex;
	justify-content: flex-end;
	margin-bottom: 2rem;
}
.btn-nav_archives-sm {
	@extend %btn-sm;
	@extend %reset_anchor;
	background: configs.$color_accent;
	color: configs.$color_text-dk;
	justify-self: right;
	&:hover {
		transform: scale(1.05);
		box-shadow: 0 3px 6px -3px #fff;
	}
}
.btn-nav_home-sm {
	@extend %btn-sm;
	@extend %reset_anchor;
	background: configs.$color_accent;
	color: configs.$color_text-dk;
	margin-bottom: 2rem;
	&:hover {
		transform: scale(1.05);
		box-shadow: 0 3px 6px -3px #fff;
	}
}
.btn-nav_home-lg {
	@extend %btn-lg;
	@extend %reset_anchor;
	background: configs.$color_accent;
	color: configs.$color_text-dk;
	&:hover {
		transform: scale(1.05);
		box-shadow: 0 3px 6px -3px #fff;
	}
}

.footer {
	@extend %container;
	@extend %flex_col-center;
	color: configs.$color_text-lt;
	// font-size: 1.5rem;
	padding: 1rem 0;
}
.header {
	.header-nav {
		@extend %container;
		.header-logo {
			display: block;
			margin: 3rem;
			text-align: center;
			&_img {
				max-height: 100%;
				max-width: 100%;
			}
		}
	}
}
// #endregion --- /SHARED

// #region --- HOMEPAGE
.card {
	// @extend %devborder_parent
	border: 2px solid #fff;
	margin: 0 auto 3rem;
	max-width: 750px;
	padding: 1.5rem;
	width: 85vw;
	&_title {
		@extend %reset_anchor;
		@extend %h1;
		color: configs.$red;
		.link:hover {
			text-decoration: underline;
		}
	}
	&_subtitle {
		@extend %h3;
		margin-bottom: 0.5rem;
	}
	&_footer {
		@extend %flex_row-between;
		font-size: 1.5rem;
		margin-top: 2rem;
		.card_date {
			color: configs.$color_text-subdued;
		}
		.card_btn {
			@extend %flex_row-center;
			// background-color: configs.$blue;
			border: 2px solid configs.$color_accent;
			&:hover {
				transform: scale(1.05);
				box-shadow: 0 3px 6px -3px #fff;
			}
			.card_link {
				@extend %reset_anchor;
				padding: 0.75rem 1.3rem;
				// color: configs.$lime;
				// font-size: 2rem;
				// font-weight: bold;
				// font-style: italic;
				// text-align: right;
			}
		}
	}
}
// #endregion --- /HOMEPAGE

// #region --- BLOG POST
.blog-post {
	@extend %container;
	padding: 0 3rem;
	&_date {
		color: configs.$color_text-subdued;
		font-size: 1.2rem;
		margin-bottom: 1rem;
		text-align: right;
	}
	&_title {
		font-size: 2.8rem;
		color: configs.$color_primary;
	}
	&_subtitle {
		font-size: 1.8rem;
		margin-bottom: 1rem;
	}
	&_by {
		color: configs.$color_accent;
		font-size: 1.2rem;
		margin-bottom: 2rem;
	}
	&_line {
		background-color: #fff;
		height: 2px;
		margin: 0 auto 2rem;
		width: 200px;
	}
	&_body {
		font-size: 1.6rem;
		a {
			@extend %reset_anchor;
			color: configs.$color_primary;
			&:hover {
				text-decoration: underline;
			}
		}
		h1,
		h2,
		h3 {
			margin: 2rem 0;
		}
		ol {
			margin-left: 3rem;
		}
		p {
			margin-bottom: 2rem;
		}
	}
}
// #endregion --- /BLOG POST

// #region --- ARCHIVES
.archives {
	@extend %container;
	width: 85vw;
	&_month {
		font-size: 4rem;
		margin-bottom: 1rem;
	}
	&_card {
		margin-bottom: 2rem;
		.archives_title {
			// font-size: 1.5rem;
			&_link {
				@extend %reset_anchor;
				color: configs.$color_primary;
				font-size: 2rem;
				&:hover {
					text-decoration: underline;
				}
			}
		}
		.archives_subtitle {
			font-size: 1.5rem;
			font-weight: normal;
		}
		.archives_date {
			color: configs.$color_text-subdued;
			font-size: 1.2rem;
			line-height: 20px;
		}
	}
}
.btn_archives {
	@extend %flex_row-center;
	margin-bottom: 2rem;
	color: configs.$color_text-dk;
	&_link {
		@extend %reset_anchor;
		background-color: configs.$yellow;
		font-size: 2.5rem;
		margin: 0 1rem;
		padding: 0.5rem 0.75rem;
	}
	&:hover {
		transform: scale(1.05);
		box-shadow: 0 3px 6px -3px #fff;
	}
}
// #endregion --- /ARCHIVES

// #region --- MEDIA QUERIES
@media screen and (max-width: 500px) {
	.card {
		&_title {
			font-size: 2.5rem;
		}
		&_subtitle {
			font-size: 2rem;
		}
	}
	.archive {
		&_title {
			font-size: 5rem;
		}
		&_subtitle {
			font-size: 1.5rem;
		}
	}
}
// #endregion --- /MEDIA QUERIES
