@use './config.scss';
@use './util_layout.scss';
@use './util_reset.scss';
@use './util_style.scss';


.archive_card {
	padding: 2rem;
	font-size: 2rem;
	p {
		display: flex;
		justify-content: space-between;
	}
}
.card {
	// @extend %devborder_parent
	border: 2px solid #fff;
	margin: 3rem auto;
	max-width: 750px;
	padding: 1.5rem;
	width: 85vw;
	&__title {
		color: config.$red;
		@extend %h1;
	}
	&__subtitle {
		@extend %h3;
		// color: config.$red;
		font-style: italic;
		margin-bottom: 0.5rem;
	}
	&-footer {
		@extend %flex_row-between;
		font-size: 1.5rem;
		margin-top: 2rem;

		&__link {
			@extend %nav_anchor;
			color: config.$lime;
			font-size: 2rem;
			font-weight: bold;
			text-align: right;
		}	
	}
	
}
.footer {
	@extend %flex_row-center;
	// @extend %devborder_parent;
	color: config.$color_text-lt;
	font-size: 1.5rem;
	height: 3rem;
	// p {
		// @extend %devborder_child;
	// }
}
.header-nav {
	// @extend %devborder_parent;
	&__logo-link {
		// @extend %devborder_child;
		display: block;
		height: 20vh;
		margin-top: -2vh;
		text-align: center;		
	}
	.header-nav__logo {
			max-height: 100%;
	}
	.sub-nav {
		// @extend %devborder_child;
		@extend %flex_row-center;
		margin-bottom: 2rem;
		a {
			@extend %nav_anchor;
			font-size: 3rem;
		}
	}
}
.month_divider {
	background-color: #777;
	font-size: 2rem;
	padding: 0 2rem;
}

@media screen and (max-width: 500px) {
	.card {
		&__title {
			font-size: 3rem;
		}
		&__subtitle {
			font-size: 2.5rem;
		}
	}
}
