@use './config.scss';

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
.baseline_page {
	display: flex;
	flex-direction: column;
	height: 100vh;
	// TODO: update height to use JS-modified --vh px value (mobile vh hack)
	.baseline_content {
		flex: 1;
	}
}
body {
	background-color: config.$color_bg-dk;
	color: config.$color_text-lt;
	font-family: config.$font-primary;
}
html {
	font-size: 10px;
}
