// #region CONFIGS
$color-background: #1f1f1f;
$color-primary: #eb222f;
$color-text-dk: #2f2f2f;
$color-text-lt: #e9e9e9;
$font-primary: Arial, Helvetica, sans-serif;
// #endregion /

// #region LAYOUT
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	line-height: 1.4;
	// height: 100vh;
}
%reset__m {
	margin: 0;
}
%reset__p {
	padding: 0;
}
%reset__m-p {
	margin: 0;
	padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
	@extend %reset__m;
}
ul {
	@extend %reset__m-p;
	list-style: none;
}
// #endregion /

// #region STYLES
body {
	background-color: $color-background;
	color: $color-text-lt;
}
a {
	color: inherit;
	font-weight: bold;
	text-decoration: none;
	&:hover {
		cursor: pointer;
		color: $color-primary;
	}
}
// #endregion /STYLES

// #region TYPOGRAPHY
body {
	font-family: $font-primary;
}
// #endregion /TYPOGRAPHY

// #region UTILS
%devborder {
	border: 1px solid #0f0;
}
// #endregion /UTILS
