// #region --- COLOR SCHEME
// Harmony: triadic
// Notes:
// #endregion --- /COLOR SCHEME

// #region --- COLOR VALUES
$red: #eb222f; // primary 1
$red-dk: #800;
$orange: #f80;
$yellow: #ebe422; // primary 3
$lime: #0f0;
$green: #008000;
$blue: #223deb; // primary 2
$blue-dk: #000080;
$pink: #f0f;
$purple: #909;
$black: #000;
$black-alt: #1f1f1f;
$white: #fff;
$white-alt: #e9e9e9;
$gray-lt: #c0c0c0;
$gray: #999;
$gray-dk: #444;
// #endregion --- /COLOR VALUES

// #region --- SEMANTIC COLORS
$color_primary: $red;
$color_secondary: $blue;
$color_accent: $yellow;

$color_bg-dk: $black-alt;
$color_bg-lt: $white-alt;

$color_text-dk: $black-alt;
$color_text-lt: $white-alt;
$color_text-subdued: $gray;

$color_success: $green;
$color_warning: $yellow;
$color_danger: $red-dk;
// #endregion --- / SEMANTIC COLORS

// #region --- FONT VALUES
$font-family: Arial, Helvetica, sans-serif;
// #endregion --- /FONT VALUES

// #region --- SEMANTIC FONTS
$font-primary: $font-family;
// #endregion --- /SEMANTIC FONTS
