// for mobile-height re-size later
// main.main-container {
// 	height: 100vh;
// 	height: calc(var(--vh) * 100);
// }
// .main-container {
// 	background: #616161;
// }
.nav-links {
	color: #fff;
}
.nav-links:hover {
	color: #ff5722;
}
.nav-links:active {
	color: inherit;
}
