// for mobile-height re-size later
// main.main-container {
// 	height: 100vh;
// 	height: calc(var(--vh) * 100);
// }
.nav > .nav-link {
	border: 2px solid #ebe422;

	&:hover {
		background-color: #ebe422;
		color: #000;
	}
}

.nav-link {
	color: #fff;
	&:active {
		color: #fff;
	}
	&:hover {
		color: darken(#eb222f, 10%);
	}
}
#MainNav .nav-item .nav-link {
	border-bottom: 6px solid transparent;
	// POST: using grid to v-align assets with text
	display: grid;
	height: 100%;
	place-items: center;

	&:hover {
		color: #fff;
		border-bottom: 6px solid #eb222f;
	}
}
h3 .nav-link {
	color: #eb222f;

	&:hover {
		color: darken(#eb222f, 20%);
	}
}
