// #region DYNAMIC VH
// for mobile-height re-size later
// main.main-container {
// 	height: 100vh;
// 	height: calc(var(--vh) * 100);
// }
// #endregion DYNAMIC VH

// #region EPH COLORS
$eph-blue: #223deb;
$eph-red: #eb222f;
$eph-yellow: #ebe422;
// #endregion EPH COLORS

#MetaContainer,
main {
	min-height: 100vh;
}
// #region LINKS
a {
	color: $eph-yellow;
	text-decoration: none;

	&:hover {
		color: darken($eph-yellow, 20%);
	}
}
#MainNav .nav-item .nav-link {
	border-bottom: 6px solid transparent;
	// POST: using grid to v-align assets with text
	display: grid;
	height: 100%;
	place-items: center;

	&:hover {
		color: #fff;
		border-bottom: 6px solid $eph-red;
	}
}
.nav-link.nav-link-btn {
	border: 2px solid $eph-yellow;
	font-size: 2.6vmin;
	margin: 1.5rem 2.5rem;
	text-align: center;
	width: 8rem;

	&:hover {
		background-color: $eph-yellow;
		color: #000;
	}
}
.nav-link {
	color: #fff;
	&:active {
		color: #fff;
	}
	&:hover {
		color: darken($eph-red, 20%);
	}
}
// #endregion
h1 {
	color: $eph-red;
}
h3 {
	color: $eph-blue;
	font-weight: bolder;
	// blog post title link
	& .nav-link {
		color: $eph-red;

		&:hover {
			color: darken($eph-red, 20%);
		}
	}
}
.post-img {
	box-shadow: 0 2px 8px -3px #888;
	border-radius: 10px;
	display: block;
	height: auto;
	margin: 0 auto;
	max-width: 700px;
	width: 45vw;
}
.separator {
	width: 30vw;
	height: 5px;
	background: #fff;
	margin: 3rem auto;
}
figcaption {
	font-size: 1.3vmin;
}
