* {
	margin: 0;
	padding: 0;
}

html,
body {
	box-sizing: border-box;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #1f1f1f;
	color: #e9e9e9;
}

a {
	text-decoration: none;
	color: inherit;
}

ol,
ul {
	list-style: none;
}

// p {
// 	margin: 15px 0;
// 	line-height: 1.8;
// }

// .blog-text ul,
// ol {
// 	font-size: 110%;
// 	line-height: 2.3;
// 	font-weight: bold;
// 	margin: 10px 0;
// }

.blog-text pre {
	background: #f4f4f4;
	padding: 20px;
	margin: 20px 0;
	line-height: 2.3;
}

// .blog-text h1 {
// 	font-size: 35px;
// }

// .blog-text h2,
// .blog-text h3,
// .blog-text h4 {
// 	font-size: 27px;
// }
