.homepage-wrapper {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

.logo {
	margin: 0 auto;
}

.landing-page__nav {
	font-size: 1.6rem;

	&-item {
		padding: 0.5rem 1.3rem;
		margin: 0 0.5rem;
	}

	&-item:hover {
		color: #eb222f;
	}

	&-items {
		display: flex;
		justify-content: center;
		margin-top: 3rem;
	}
}
