@use './base';
.bp-footer {
	background-color: yellow;
	position: fixed;
	left: 0;
	bottom: 0;
	right: 0;
}
.card {
	// @extend %devborder;
	background-color: #2f2f2f;
	border-radius: 6px;
	margin: 0.75rem 0;
	padding: 0.5rem;
	// &__title {
	// 	color: #fff;
	// }
	&__date,
	&__excerpt {
		color: #bbb;
	}
	&__date {
		margin-bottom: 0.75rem;
	}
	&__excerpt {
		font-family: base.$font-secondary;
	}
	&__link {
		text-align: right;
	}
}
.logo {
	height: auto;
	margin: 0 auto;
	max-width: 100%; // << why is this impacting #HomePageNavMenu
}
.main-nav {
	font-size: 1.5rem;
	&__list {
		@extend %reset__m-p;
		list-style: none;
		text-align: center;
	}
	&__item {
		margin: 1rem 0;
		padding: 0.5rem 1rem;
	}
	&__item:hover {
		color: #eb222f;
	}
}
