@use './config.scss';
@use './util_reset.scss';

%container {
	margin: 0 auto;
	max-width: 80vw;
	max-width: 1180px;
}
%flex_col {
	display: flex;
	flex-direction: column;
}
%flex_col-center {
	@extend %flex_col;
	justify-content: center;
}
%flex_row {
	align-items: center;
	display: flex;
}
%flex_row-between {
	@extend %flex_row;
	justify-content: space-between;
}
%flex_row-center {
	@extend %flex_row;
	justify-content: center;
}
%grid {
	display: grid;
}
