@use './config.scss';
@use './util_reset.scss';

%devborder {
	border-style: solid;
}
%devborder_parent {
	@extend %devborder;
	border-color: config.$lime;
	border-width: 4px;
}
%devborder_child {
	@extend %devborder;
	border-color: config.$blue;
	border-width: 2px;
}
%default_body-colors {
	background-color: #e9e9e9;
	color: #2f2f2f;
	font-family: Arial, Helvetica, sans-serif;
}
%h1 {
	font-size: 3.5rem;
}
%h2 {
	font-size: 3rem;
}
%h3 {
	font-size: 2.5rem;
}
%h4 {
	font-size: 2rem;
}
