%reset_anchor {
	color: inherit;
	&:hover {
		color: #6666ff;
		cursor: pointer;
	}
}
%reset_box-sizing {
	box-sizing: border-box;
}
%reset_margin-padding {
	@extend %reset_margin;
	@extend %reset_padding;
}
%reset_margin {
	margin: 0;
}
%reset_padding {
	padding: 0;
}

body {
	line-height: 1.4;
}
// .page is top-level wrapper for every page on site
// .content consumes space between header & footer
.page {
	display: flex;
	flex-direction: column;
	height: 100vh;
	// TODO: update height to use JS-modified --vh px value (mobile vh hack)
	.content {
		flex: 1;
	}
}
